@font-face {
    font-family: "Gordita-Bold";
    src: url("../fonts/Gordita-Bold.eot");
    src: local("Gordita-Bold"), url("../fonts/Gordita-Bold.woff") format("woff"),
        url("../fonts/Gordita-Bold.ttf") format("truetype"), url("../fonts/Gordita-Bold.svg") format("svg");
    font-weight: 700;
    font-style: bold;
}
