.page-reviews {
    &__wrap {
        padding-bottom: 5.5%;
    }

    &__title {
        margin-bottom: 2.8%;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        grid-gap: 30px;
    }

    &__item {
        position: relative;
        & .card-review__group {
            background: #f7f8fa;
            z-index: 10;
        }

        & .card-review__text {
            overflow: hidden;
            max-height: 150px;
        }

        &:hover {
            & .card-review__group {
                position: absolute;
                left: 0;
                top: 0;
                padding: 35px 30px 35px 65px;
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
            }

            & .card-review__text {
                max-height: 100%;
            }
        }
    }

    &__pagination {
    }
}

@media (max-width: 1170px) {
    .page-reviews {
        &__list {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }
    }
}

@media (max-width: 768px) {
    .page-reviews {
        &__item {
            &:hover {
                & .card-review__group {
                    padding: 20px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .page-reviews {
        &__list {
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: auto;
        }

        &__item {
            &:hover {
                & .card-review__group {
                    position: static;
                    left: 0;
                    top: 0;
                    padding: initial;
                    box-shadow: none;
                }

                & .card-review__text {
                    max-height: 100%;
                }
            }
        }
    }
}
