.page-news {
    &__wrap {
        padding-bottom: 5.5%;
    }

    &__title {
        color: #0079be;
        margin-bottom: 2.8%;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    &__item {
    }
}

@media (max-width: 1170px) {
    .page-news {
        &__list {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }
    }
}

@media (max-width: 500px) {
    .page-news {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
