.product {
    &__wrap {
        padding-bottom: 5.5%;
    }

    &__title {
        margin-bottom: 2.8%;
        color: #0079be;
    }

    &__row {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 0.9fr 1fr;
    }

    &__column {
        min-width: 0;
    }

    &__slider-big {
    }

    &__slider-small {
    }

    &__group {
        &:first-child {
            display: grid;
            grid-template-columns: 1fr 0.4fr;
            gap: 15px;
            margin-bottom: 30px;
        }
        &:last-child {
            display: grid;
            grid-template-columns: 0.65fr 1fr;
            gap: 30px;
        }
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;
        background: #f7f8fa;
    }

    &__social {
        padding: 15px 25px;
    }

    &__color {
        margin-bottom: 15px;
    }

    &__article {
        font-size: 11px;
    }

    &__barcode {
        font-size: 11px;
    }

    &__quantity {
        font-size: 11px;
    }

    &__option {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    &__group-price {
        display: flex;
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: auto auto;
        // gap: 10px;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__price {
        margin-right: 10px;
    }

    &__buttons {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        justify-content: space-between;
        &.--order {
            grid-template-columns: 1fr;
        }
    }

    &__basket {
    }

    &__description {
        margin-bottom: 25px;
        font-size: 11px;
        line-height: 21px;
    }

    &__general-info {
        margin-bottom: 30px;
    }

    &__configurator {
        display: flex;
        align-items: center;
        padding: 25px;
        & .configurator__icon {
            margin-right: 30px;
        }
        & .configurator__wrap {
            text-align: left;
        }
        & .configurator__name {
            text-align: left;
        }
        & .configurator__text {
            margin-bottom: 10px;
        }
    }

    &__accessories {
        margin-bottom: 25px;
    }

    &__rating {
        & .rating__reviews {
            color: #4f4f4f;
        }
    }
}

.slider-big-product {
    height: 450px;
    margin-bottom: 15px;
    border: 1px solid #d1d1d1;
    &__banner {
        top: 25px;
        left: 25px;
    }

    &__fav {
        top: 100px;
        right: 40px;
    }

    &__icon-rail {
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 100;
    }

    &__icon-size {
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 100;
        & img {
            width: 70px;
            height: 130px;
            object-fit: contain;
        }
    }

    &__slides-wrap {
    }

    &__slide {
    }

    &__image {
        display: block;
        & img {
            width: 100%;
            object-fit: contain;
            height: 450px;
        }
    }

    &__video {
        width: 100%;
        height: 450px;
    }

    &__pagination {
    }
}

.slider-small-product {
    &__slides-wrap {
    }

    &__slide {
        width: 20%;
        padding: 1px;
        &.swiper-slide-thumb-active {
            & .slider-small-product__image {
                border-color: #0079be;
            }
        }

        &.--video {
            & .slider-small-product__image {
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.1);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 60px;
                    height: 60px;
                    background: url("../img/icon-video-play.svg") no-repeat center / 100%;
                    transition: all 0.3s ease;
                }
                &:hover {
                    &::after {
                        transform: translate(-50%, -50%) scale(1.2);
                    }
                }
            }
        }
    }

    &__image {
        position: relative;
        cursor: pointer;
        height: 100%;
        border: 1px solid #d1d1d1;
        & img {
            width: 100%;
            height: 115px;
            object-fit: contain;
        }
    }
}

.social-product {
    display: flex;
    align-items: center;
    border: 1px solid rgba(51, 51, 51, 0.1);
    &__text {
        margin-right: 15px;
        font-size: 11px;
    }

    &__group {
        display: flex;
        align-items: center;
    }

    &__link {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        transition: all 0.3s ease;
        &:hover {
            transform: translate(0, -3px);
        }
    }
}

.rating {
    display: flex;
    &__wrap {
        display: flex;
        margin-right: 10px;
    }

    &__item {
        padding-right: 3px;
        &:last-child {
            margin-right: 0;
        }
        &.added {
            & svg {
                fill: #0079be;
            }
        }
    }

    &__reviews {
        font-size: 11px;
    }

    &__value {
    }
}

.option-product {
    display: inline-block;
    position: relative;
    &__group {
        position: relative;
        font-size: 16px;
        line-height: 22px;
        color: #4f4f4f;
    }

    &__name {
        display: inline-block;
        margin-right: 15px;
    }

    &__value {
        position: relative;
        display: inline-block;
        padding-right: 15px;
        color: #0079be;
        &::before {
            content: "";
            position: absolute;
            top: 10px;
            right: 0;
            width: 8px;
            height: 4px;
            background: url("../img/icon-arrow-header-top.svg") no-repeat;
            transform: rotate(180deg);
        }
    }

    &__list {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: -15px;
        top: -12px;
        width: 130%;
        // min-width: 180px;
        // max-width: 250px;
        padding-top: 50px;
        background: #fff;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        transition: opacity 0.3s ease;
    }

    &__item {
        cursor: pointer;
        padding: 10px 25px;
        font-size: 16px;
        line-height: 150%;
        color: #0079be;
        &:hover {
            background: #f7f8fa;
        }
    }

    &:hover {
        cursor: pointer;
        & .option-product__group {
            z-index: 15;
        }
        & > .option-product__list {
            z-index: 10;
            opacity: 1;
            visibility: visible;
        }
    }
}

.color-product {
    cursor: pointer;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, max-content);
    }

    &__item {
        width: 64px;
        &.current {
            .color-product__image {
                & img {
                    border-color: #0079be;
                }
            }
        }

        &:hover {
            .color-product__image {
                & img {
                    border-color: #0079be;
                }
            }
        }
    }

    &__image {
        margin-bottom: 10px;
        & img {
            border: 1px solid #d1d1d1;
            width: 64px;
            height: 64px;
            object-fit: contain;
            transition: all 0.3s ease;
        }
    }

    &__name {
        font-size: 11px;
    }
}

.price-product {
    &__old-price {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-decoration-line: line-through;
        color: #4f4f4f;
    }

    &__current-price {
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        color: #0079be;
    }
}

.quantity-order {
    display: flex;
    &__add {
        cursor: pointer;
        position: relative;
        width: 50px;
        height: 50px;
        border: 1px solid rgba(51, 51, 51, 0.1);
        background: #fff;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 9px;
            height: 2px;
            background: #0079be;
        }
        &::after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &__input {
        text-align: center;
        width: 50px;
        height: 50px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #0079be;
        border-top: 1px solid rgba(51, 51, 51, 0.1);
        border-bottom: 1px solid rgba(51, 51, 51, 0.1);
        background: rgba(0, 121, 190, 0.05);
    }

    &__sub {
        cursor: pointer;
        position: relative;
        width: 50px;
        height: 50px;
        border: 1px solid rgba(51, 51, 51, 0.1);
        background: #fff;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 9px;
            height: 2px;
            background: #0079be;
        }
    }
}

.basket-button {
    width: 110px;
}

.oneclick-button {
    width: 160px;
}

.general-info {
    display: flex;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: auto auto auto;
    // gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px 9px 25px;
    background: #f7f8fa;
    &__item {
        margin-right: 15px;
        padding: 10px 0;
        &:last-child {
            margin-right: 0;
            .general-info__value span {
                font-size: 24px;
            }
        }
    }

    &__value {
        font-weight: 600;
        line-height: 100%;
        color: #0079be;
        margin-bottom: 7px;
        font-size: 18px;
        & span {
            font-size: 32px;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 11px;
        line-height: 100%;
        color: #828282;
    }
}

.card-accessories {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: space-between;
    &__group {
        &:first-child {
        }
    }

    &__item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: #0079be;
    }

    &__scheme {
    }
}

.hint {
    display: flex;
    align-items: center;
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        min-width: 15px;
        min-height: 15px;
        max-width: 15px;
        max-height: 15px;
        border-radius: 50%;
        border: 1px solid #0079be;
        color: #0079be;
    }

    &__text {
        color: #828282;
    }
}

.scheme {
    display: block;
    position: relative;
    padding: 20px 35px 20px 80px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    border-radius: 2px;
    line-height: 23px;
    color: #828282;
    & span {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 40px;
            top: 50%;
            left: -45px;
            transform: translate(0, -50%);
            background: url("../img/icon-pdf.svg") no-repeat;
        }
    }
}

@media (max-width: 1470px) {
    .product {
        &__group {
            &:first-child {
                grid-template-columns: 1fr;
            }
        }
        &__configurator {
            padding: 10px;
            & .configurator__wrap {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;
            }

            & .configurator__name {
                margin-bottom: 0;
                grid-row-start: 1;
                grid-row-end: 3;
                align-self: center;
            }
        }
    }

    .social-product {
        justify-content: center;
    }

    .price-product {
        &__current-price {
            font-size: 22px;
        }
    }

    .quantity-order {
        &__add {
            width: 40px;
            height: 40px;
        }

        &__input {
            width: 40px;
            height: 40px;
        }

        &__sub {
            width: 40px;
            height: 40px;
        }
    }

    .card-accessories {
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }

    .general-info {
        margin-bottom: 0;
    }

    .scheme {
        text-align: center;
    }
}

@media (max-width: 1170px) {
    .product {
        &__group {
            &:first-child {
                margin-bottom: 25px;
            }
            &:last-child {
                grid-template-columns: 1fr 1fr;
            }
        }

        &__filter {
            margin-bottom: 10px;
        }

        &__option {
            margin-bottom: 10px;
        }

        &__group-price {
            margin-bottom: 10px;
        }

        &__buttons {
            grid-template-columns: 1fr;
        }
    }

    .basket-button {
        width: 100%;
    }

    .oneclick-button {
        width: 100%;
    }

    .general-info {
        &__item {
            &:last-child {
                .general-info__value span {
                    @include adaptiv-font(24, 18);
                }
            }
        }
        &__value {
            & span {
                @include adaptiv-font(32, 24);
            }
        }
    }
}

@media (max-width: 992px) {
    .product {
        &__row {
            gap: 20px;
            grid-template-columns: 1fr;
        }

        &__price {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        &__buttons {
            grid-template-columns: 1fr 1fr;
        }

        &__configurator {
            padding: 10px;
            & .configurator__wrap {
                grid-template-columns: 1fr 1fr 1fr;
                align-items: baseline;
                grid-column-gap: 10px;
            }

            & .configurator__button {
                justify-self: end;
            }
        }

        &__social {
            margin-top: 15px;
        }
    }

    .price-product {
        &__old-price {
            margin-right: 20px;
        }
    }

    .option-product {
        &__group {
            font-size: 12px;
        }

        &__item {
            padding: 10px 12px;
            font-size: 12px;
        }

        &__list {
            padding-top: 40px;
            left: -10px;
        }
    }

    .general-info {
        grid-row-start: 3;
    }
}

@media (max-width: 768px) {
    .product {
        &__group {
            &:last-child {
                grid-template-columns: 1fr;
            }
        }

        &__filter {
            margin-bottom: 0;
        }

        &__color {
            margin-bottom: 0;
        }

        &__group-price {
            flex-direction: column-reverse;
            align-items: flex-start;
            margin-bottom: 0;
        }

        &__column-info {
            &:first-child {
                display: grid;
                grid-template-columns: 0.6fr 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 10px;
            }
        }

        &__buttons {
            align-self: end;
        }

        &__social {
            grid-column: span 2;
        }
    }

    .slider-big-product {
        height: 350px;
        &__image img {
            height: 350px;
        }

        &__video {
            height: 350px;
        }
    }

    .slider-small-product {
        &__slide {
            &.--video {
                & .slider-small-product__image {
                    &::after {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    .card-accessories {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .product {
        &__column-info {
            &:first-child {
                grid-template-columns: 1fr;
            }
        }

        &__configurator {
            & .configurator__wrap {
                display: block;
            }
        }

        &__info {
            grid-template-columns: repeat(2, 1fr);
        }

        &__social {
            grid-column: initial;
        }
    }
}

@media (max-width: 500px) {
    .product {
        &__info {
            grid-template-columns: 1fr;
        }

        &__group {
            &:last-child {
                gap: 15px;
            }
        }
    }

    .slider-big-product {
        height: 250px;
        &__banner {
            top: 10px;
            left: 10px;
            max-width: 115px;
        }

        &__icon-rail {
            top: 10px;
            right: 10px;
        }

        &__fav {
            top: 75px;
            right: 10px;
        }

        &__icon-size {
            right: 10px;
            & img {
                width: 60px;
                height: 100px;
            }
        }

        &__image img {
            height: 250px;
        }

        &__video {
            height: 250px;
        }
    }

    .slider-small-product {
        &__image img {
            height: 80px;
        }
    }

    .card-accessories {
        grid-template-columns: 1fr;
    }

    .basket-button {
        padding: 14px 5px;
    }

    .oneclick-button {
        padding: 14px 5px;
    }
}

.links-anchor {
    background: #f7f8fa;
    &__wrap {
        display: grid;
        grid-template-columns: repeat(6, auto);
        justify-content: space-between;
    }

    &__item {
        display: block;
        padding: 28px 15px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #828282;
        transition: all 0.3s ease;
        &:hover {
            color: #0079be;
        }
    }

    &__order {
        cursor: pointer;
        padding: 28px 50px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #ffffff;
        background: #0079be;
        border-radius: 2px;
    }
}

@media (max-width: 1170px) {
    .links-anchor {
        background: none;
        &__wrap {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 15px;
        }

        &__item {
            padding: 15px 15px;
            border-radius: 2px;
            background: #f7f8fa;
        }

        &__order {
            padding: 15px 15px;
        }
    }
}

@media (max-width: 992px) {
    .links-anchor {
        &__item {
            font-size: 16px;
        }

        &__order {
            font-size: 16px;
        }
    }
}

@media (max-width: 768px) {
    .links-anchor {
        &__wrap {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 500px) {
    .links-anchor {
        &__wrap {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            padding: 10px 15px;
        }

        &__order {
            padding: 10px 15px;
        }
    }
}

.description {
    &__wrap {
        padding: 5.2% 0 6% 0;
    }

    &__title {
        margin-bottom: 2.1%;
    }

    &__text {
        & p {
            margin-bottom: 15px;
            & span {
                font-weight: 600;
                color: #0079be;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.usage {
    background: #f7f8fa;
    &__wrap {
        padding: 5.5% 0 6.3%;
    }

    &__row {
        &:first-child {
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            // gap: 50px;
            display: flex;

            align-items: center;
            margin-bottom: 4.2%;
        }
    }

    &__colum {
        flex: 1 1 50%;
        &:nth-child(2) {
            margin-left: 50px;
        }
    }

    &__title {
        margin-bottom: 4.5%;
    }

    &__text {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
        & p {
            margin-bottom: 15px;
            & span {
                font-weight: 600;
                color: #0079be;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__subtitle {
        margin-bottom: 4.5%;
    }

    &__video-wrap {
        position: relative;
        height: 460px;
    }

    &__video-prev {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &.active {
            display: none;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.1);
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100px;
            height: 100px;
            background: url("../img/icon-video-play.svg") no-repeat center / 100%;
            transition: all 0.3s ease;
        }
        &:hover {
            &::after {
                transform: translate(-50%, -50%) scale(1.2);
            }
        }
    }

    &__video-prev-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__video-container {
        height: 100%;
    }

    &__video {
        height: 100%;
        width: 100%;
        &.active {
            display: block;
        }
    }

    &__galary-slider {
    }

    &__galary-slide-wrap {
    }

    &__galary-slide {
    }

    &__galary-image {
        & img {
            width: 100%;
            height: 210px;
            object-fit: cover;
        }
    }

    &__galary-prev {
        top: 50% !important;
        @extend .gallary-product__prev;
    }

    &__galary-next {
        top: 50% !important;
        @extend .gallary-product__next;
    }
}

@media (max-width: 1170px) {
    .usage {
        &__row {
            &:first-child {
                display: block;
                // grid-template-columns: 1fr;
                // gap: 40px;
                align-items: initial;
            }
        }
        &__colum {
            &:nth-child(2) {
                margin-top: 40px;
                margin-left: 0px;
            }
        }
    }
}

@media (max-width: 768px) {
    .usage {
        &__video-wrap {
            height: 350px;
        }
    }
}

@media (max-width: 500px) {
    .usage {
        &__video-wrap {
            height: 250px;
        }

        &__colum {
            &:nth-child(2) {
                margin-top: 20px;
            }
        }

        &__video-prev {
            &::after {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.fasteners {
    &__wrap {
        padding: 5.5% 0;
    }

    &__row {
        &:first-child {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            align-items: center;
            margin-bottom: 3.1%;
        }
    }

    &__column {
        &:last-child {
            grid-column-start: 2;
            grid-column-end: 4;
        }
    }

    &__title {
    }

    &__subtitle {
        font-size: 18px;
        line-height: 150%;
        color: #828282;
    }

    &__banner {
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    &__item {
    }
}

.fasteners-banner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 26px 0 29px 0;
    background: url("../img/icon-fasteners-banner.svg") no-repeat 100% 100%;

    &__group {
        margin-left: 2px;
        max-width: 500px;
    }

    &__title {
        padding-left: 30px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #0079be;
    }

    &__subtitle {
        width: 100%;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        color: #fff;
        background: #0079be;
        & span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            min-width: 15px;
            min-height: 15px;
            max-width: 15px;
            max-height: 15px;
            border-radius: 50%;
            border: 1px solid #fff;
            color: #fff;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        border: 2px solid rgba(0, 121, 190, 0.1);
        background: #ffffff;
        z-index: -1;
    }
}

.product-accessories {
    display: flex;
    flex-direction: column;
    border: 1px solid #d1d1d1;
    &__row {
        flex-grow: 1;
        position: relative;
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        grid-gap: 10px;
        padding: 25px 25px 20px 25px;
    }

    &__banner {
        top: 20px;
        left: 15px;
        max-width: 100px;
    }

    &__fav {
        top: 20px;
        right: 20px;
    }

    &__column {
        min-width: 0;
    }

    &__slider {
    }

    &__slide-wrap {
    }

    &__slide {
    }

    &__image {
        & img {
            width: 100%;
            height: 203px;
            object-fit: contain;
        }
    }
    &__pagination {
        position: initial;
    }

    &__name {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #0079be;
    }

    &__group {
        display: flex;
        margin-bottom: 10px;
    }

    &__article {
        margin-right: 10px;
    }

    &__barcode {
    }

    &__quantity {
        margin-bottom: 15px;
    }

    &__filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        & .option-product__group {
            font-size: 13px;
        }

        & .option-product__list {
            padding-top: 40px;
        }

        & .option-product__item {
            padding: 5px 25px;
            font-size: 13px;
        }
    }

    &__option {
        margin-bottom: 10px;
    }

    &__group-price {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    &__price {
        margin-right: 15px;
        & .price-product__current-price {
            font-size: 24px;
        }
    }

    &__quantity-order {
        & .quantity-order__add {
            width: 35px;
            height: 35px;
        }

        & .quantity-order__input {
            width: 35px;
            height: 35px;
            font-size: 13px;
        }

        & .quantity-order__sub {
            width: 35px;
            height: 35px;
        }
    }

    &__basket {
        cursor: pointer;
        width: 100%;
    }

    &:nth-child(3n + 2) {
        & .hint-accessories__popup {
            left: -100px;
            &::before {
                left: 79px;
            }
        }
    }
}

.hint-accessories {
    position: relative;
    cursor: pointer;
    &__name {
        display: flex;
        align-items: center;
        margin-top: 25px;
        font-size: 13px;
        line-height: 100%;
        color: #0079be;
        & span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            min-width: 15px;
            min-height: 15px;
            max-width: 15px;
            max-height: 15px;
            border-radius: 50%;
            border: 1px solid #0079be;
            color: #0079be;
        }
    }
    &__popup {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: -25px;
        top: 36px;
        width: 100%;
        min-width: 215px;
        padding: 10px 20px;
        background: #ffffff;
        border-radius: 2px;
        filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.1));
        z-index: 100;
        transition: all 0.3s ease;
        &-name {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 11px;
            line-height: 21px;
            color: #222222;
        }

        &-item {
            margin-bottom: 5px;
            font-size: 11px;
            line-height: 21px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 99%;
            left: 0;
            border: 30px solid transparent;
            border-bottom: 20px solid #fff;
        }
    }

    &:hover {
        & .hint-accessories__popup {
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (max-width: 1170px) {
    .fasteners {
        &__row {
            &:first-child {
                grid-template-columns: 0.8fr 1fr;
            }
        }
        &__column {
            &:last-child {
                grid-column-start: initial;
                grid-column-end: initial;
            }
        }

        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }

    .fasteners-banner {
        padding: 15px 0 15px 0;
        background: none;
        &__title {
            @include adaptiv-font(24, 16);
        }
    }
}

@media (max-width: 768px) {
    .fasteners {
        &__row {
            &:first-child {
                grid-template-columns: 1fr;
            }
        }

        &__list {
            grid-template-columns: 1fr;
        }
    }

    .fasteners-banner {
        justify-content: center;

        &__title {
            padding-left: 0;
            text-align: center;
        }

        &__subtitle {
            font-size: 12px;
        }

        &::before {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .fasteners {
        &__row {
            &:first-child {
                grid-gap: 10px;
            }
        }
    }

    .product-accessories {
        &__row {
            grid-template-columns: 1fr;
        }
    }
}

.representative {
    &__wrap {
    }

    &__row {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        align-items: center;
    }

    &__column {
        position: relative;
        &:first-child {
            display: flex;
            align-items: center;
            height: 100%;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100vw;
                height: 100%;
                background: #0079be;
                z-index: -1;
            }
        }

        &:last-child {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100%;
                background: #f7f8fa;
                z-index: -1;
            }
        }
    }

    &__title {
        padding-right: 40px;
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
        color: #ffffff;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }

    &__item {
        &.card-advantage {
            background: none;
            padding: 25px 10px;
        }
    }
}

@media (max-width: 1170px) {
    .representative {
        &__title {
            padding-right: 0;
            @include adaptiv-font(28, 16);
        }
    }
}

@media (max-width: 992px) {
    .representative {
        &__row {
            grid-template-columns: 1fr;
        }

        &__column {
            &:first-child {
                margin-bottom: 15px;
                &::before {
                    width: 100%;
                }
            }
            &:last-child {
                &::before {
                    width: 100%;
                }
            }
        }

        &__title {
            padding-left: 15px;
        }
    }
}

@media (max-width: 768px) {
    .representative {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.accessories {
    &__wrap {
        padding: 5.5% 0;
    }

    &__row {
        &:first-child {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            align-items: center;
            margin-bottom: 3.1%;
        }
    }

    &__column {
        &:first-child {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &__title {
    }

    &__subtitle {
        font-size: 18px;
        line-height: 150%;
        color: #828282;
    }

    &__banner {
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    &__item {
    }
}

.accessories-banner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 26px 0 29px 0;
    background: url("../img/icon-accessories-banner.svg") no-repeat 0% 100%;

    &__group {
        margin-right: 2px;
        max-width: 500px;
    }

    &__title {
        padding-right: 50px;
        margin-bottom: 15px;
        text-align: right;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #0079be;
    }

    &__subtitle {
        width: 100%;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        color: #fff;
        background: #0079be;
        & span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            min-width: 15px;
            min-height: 15px;
            max-width: 15px;
            max-height: 15px;
            border-radius: 50%;
            border: 1px solid #fff;
            color: #fff;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        border: 2px solid rgba(0, 121, 190, 0.1);
        background: #ffffff;
        z-index: -1;
    }
}

@media (max-width: 1170px) {
    .accessories {
        &__row {
            &:first-child {
                grid-template-columns: 1fr 0.8fr;
            }
        }
        &__column {
            &:first-child {
                grid-column-start: initial;
                grid-column-end: initial;
            }
        }

        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }

    .accessories-banner {
        padding: 15px 0 15px 0;
        background: none;
        &__title {
            @include adaptiv-font(24, 16);
        }
    }
}

@media (max-width: 768px) {
    .accessories {
        &__row {
            &:first-child {
                grid-template-columns: 1fr;
            }
        }

        &__column {
            &:first-child {
                order: 2;
            }

            &:last-child {
                order: 1;
            }
        }

        &__list {
            grid-template-columns: 1fr;
        }
    }

    .accessories-banner {
        justify-content: center;

        &__title {
            padding-right: 0;
            text-align: center;
        }

        &__subtitle {
            font-size: 12px;
        }

        &::before {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .accessories {
        &__row {
            &:first-child {
                grid-gap: 10px;
            }
        }
    }
}

.product-reviews {
    &__wrap {
        padding-bottom: 1.5%;
    }

    &__title {
        margin-bottom: 2.5%;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 0.27fr;
        gap: 30px;
    }

    &__column {
    }

    &__list {
    }

    &__item {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__button-wrap {
        display: flex;
        justify-content: center;
    }

    &__button-all {
        max-width: 210px;
        width: 100%;
        margin-top: 35px;
    }

    &__rating {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 30px;
        & .rating__reviews {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
            color: #0079be;
        }

        & .rating__item svg {
            width: 27px;
            height: 27px;
        }
    }

    &__button {
        max-width: 175px;
        width: 100%;
    }

    &__group-all-rev {
        padding: 50px 20px;
        text-align: center;
        background: #f7f8fa;
    }

    &__not-rev {
        & .product-reviews__title {
            text-align: center;
        }

        &-image {
            margin-bottom: 2.5%;
            text-align: center;
        }

        &-text {
            margin-bottom: 2.5%;
            text-align: center;
        }

        &-button {
            text-align: center;
        }
    }
}

.item-rev {
    padding: 0 40px;
    background: #f7f8fa;
    overflow: hidden;
    transition: all 0.3s ease;
    &.--hidden {
        margin-bottom: 0;
    }
    &__user {
        padding: 30px 0;
    }

    &__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__group-name {
    }

    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
    }

    &__date {
    }

    &__rating {
        margin-bottom: 10px;
    }

    &__text {
        line-height: 23px;
    }

    &__admin {
        display: flex;
        padding: 30px 0;
        border-top: 1px solid rgba(51, 51, 51, 0.1);
        & .item-rev__name {
            color: #0079be;
        }
    }

    &__image {
        margin-right: 20px;
        & img {
            height: 22px;
            min-width: 55px;
            object-fit: contain;
        }
    }

    &__group-review {
    }

    &__name-user {
        margin-top: 5px;
        font-size: 11px;
    }
}

@media (max-width: 1170px) {
    .product-reviews {
        &__row {
            grid-template-columns: 1fr 0.4fr;
        }
    }
}

@media (max-width: 768px) {
    .product-reviews {
        &__row {
            grid-template-columns: 1fr;
        }

        &__rating {
            margin-bottom: 15px;
            .rating__reviews {
                margin-bottom: 10px;
                @include adaptiv-font(32, 24);
            }
        }

        &__column {
            &:first-child {
                order: 2;
            }

            &:last-child {
                order: 1;
            }
        }

        &__group-all-rev {
            padding: 15px;
        }

        &__not-rev {
            &-text {
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 500px) {
    .product-reviews {
        &__row {
            gap: 20px;
        }

        &__item {
            margin-bottom: 20px;
        }

        &__button-all {
            margin-top: 20px;
        }
    }

    .item-rev {
        padding: 0 20px;

        &__user {
            padding: 20px 0;
        }

        &__admin {
            padding: 20px 0;
            flex-direction: column;
        }

        &__image {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}
