<section class="catalog-menu">
  <div class="container">
    <div class="catalog-menu__wrapper">

      <div class="catalog-menu__group">
        <div class="catalog-menu__mobil">
          <span>Каталог</span>
        </div>
        <ul class="catalog-menu__wrap">
          <li class="catalog-menu__item">
            <span class="catalog-menu__link">Подвесные системы</span>
            <ul class="catalog-menu__submenu --big">
              <li class="catalog-menu__subitem --big">
                <a class="catalog-menu__sublink --big" href="#">
                  <div class="catalog-menu__image --big"><img src="./img/image-catalog-product-1.png" alt=""></div>
                  <span class="catalog-menu__subtext --big">Подпункт 1</span>
                </a>
              </li>
              <li class="catalog-menu__subitem --big">
                <a class="catalog-menu__sublink --big" href="#">
                  <div class="catalog-menu__image --big"><img src="./img/image-catalog-product-2.png" alt=""></div>
                  <span class="catalog-menu__subtext --big">Подпункт 2</span>
                </a>
              </li>
              <li class="catalog-menu__subitem --big">
                <a class="catalog-menu__sublink --big" href="#">
                  <div class="catalog-menu__image --big"><img src="./img/image-catalog-product-3.png" alt=""></div>
                  <span class="catalog-menu__subtext --big">Подпункт 3</span>
                </a>
              </li>
              <li class="catalog-menu__subitem --big">
                <a class="catalog-menu__sublink --big" href="#">
                  <div class="catalog-menu__image --big"><img src="./img/image-catalog-product-4.png" alt=""></div>
                  <span class="catalog-menu__subtext --big">Подпункт 4</span>
                </a>
              </li>
              <li class="catalog-menu__subitem --big">
                <a class="catalog-menu__sublink --big" href="#">
                  <div class="catalog-menu__image --big"><img src="./img/image-catalog-product-5.png" alt=""></div>
                  <span class="catalog-menu__subtext --big">Подпункт 4</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="catalog-menu__item">
            <span class="catalog-menu__link">Держатели и Аксессуары</span>
            <ul class="catalog-menu__submenu --big">
              <li class="catalog-menu__subitem --big">
                <a class="catalog-menu__sublink --big" href="#">
                  <div class="catalog-menu__image --big"><img src="./img/image-catalog-product-1.png" alt=""></div>
                  <span class="catalog-menu__subtext --big">Подпункт 1</span>
                </a>
              </li>
              <li class="catalog-menu__subitem --big">
                <a class="catalog-menu__sublink --big" href="#">
                  <div class="catalog-menu__image --big"><img src="./img/image-catalog-product-2.png" alt=""></div>
                  <span class="catalog-menu__subtext --big">Подпункт 2</span>
                </a>
              </li>
              <li class="catalog-menu__subitem --big">
                <a class="catalog-menu__sublink --big" href="#">
                  <div class="catalog-menu__image --big"><img src="./img/image-catalog-product-3.png" alt=""></div>
                  <span class="catalog-menu__subtext --big">Подпункт 3</span>
                </a>
              </li>
              <li class="catalog-menu__subitem --big">
                <a class="catalog-menu__sublink --big" href="#">
                  <div class="catalog-menu__image --big"><img src="./img/image-catalog-product-4.png" alt=""></div>
                  <span class="catalog-menu__subtext --big">Подпункт 4</span>
                </a>
              </li>
              <li class="catalog-menu__subitem --big">
                <a class="catalog-menu__sublink --big" href="#">
                  <div class="catalog-menu__image --big"><img src="./img/image-catalog-product-5.png" alt=""></div>
                  <span class="catalog-menu__subtext --big">Подпункт 4</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="catalog-menu__item">
            <span class="catalog-menu__link">Сферы применения</span>
            <ul class="catalog-menu__submenu">
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары на стены</a>
              </li>
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары для картин</a>
              </li>
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары на потолки</a>
              </li>
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары</a>
              </li>
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары</a>
              </li>
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары</a>
              </li>
            </ul>
          </li>

          <li class="catalog-menu__item">
            <span class="catalog-menu__link">Услуги</span>
            <ul class="catalog-menu__submenu">
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары на стены</a>
              </li>
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары для картин</a>
              </li>
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары на потолки</a>
              </li>
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары</a>
              </li>
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары</a>
              </li>
              <li class="catalog-menu__subitem">
                <a href="#" class="catalog-menu__sublink">Держатели и аксессуары</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>