<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/swiper-bundle.min.css">
  <link rel="stylesheet" href="./css/lightgallery.min.css">
  <link rel="stylesheet" href="./css/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="./css/component.css">
  <link rel="stylesheet" href="./css/nice-select.css">
  <link rel="stylesheet" href="./css/style.css" />
  <title>Document</title>
</head>

<body>

  <div class="wrapper">

    <!-- HEADER -->

    <header class="header">


      <div class="header__top header-top">
        <div class="container">
          <div class="header-top__wrap">
            <ul class="header-top__domain js-mob-menu-el">
              <li>
                <a href="#" class="header-top__active-domain js-modal-show" data-popup="domain">Москва</a>
              </li>
            </ul>

            <ul class="header-top__nav nav-top">
              <li class="nav-top__item --drop-menu js-mob-menu">
                <a class="nav-top__link --drop-menu" href="#">О компании</a>
                <ul class="nav-top__submenu">
                  <li class="nav-top__subitem"><a class="nav-top__sublink" href="#">Подпункт 1</a></li>
                  <li class="nav-top__subitem"><a class="nav-top__sublink" href="#">Подпункт 2</a></li>
                  <li class="nav-top__subitem"><a class="nav-top__sublink" href="#">Подпункт 3</a></li>
                  <li class="nav-top__subitem"><a class="nav-top__sublink" href="#">Подпункт 4</a></li>
                </ul>
              </li>
              <li class="nav-top__item js-mob-menu">
                <a class="nav-top__link animate-link --gray" href="#">Доставка и оплата</a>
              </li>
              <li class="nav-top__item js-mob-menu">
                <a class="nav-top__link animate-link --gray" href="#">Возврат / Обмен</a>
              </li>
              <li class="nav-top__item js-mob-menu">
                <a class="nav-top__link animate-link --gray" href="#">Блог</a>
              </li>
              <li class="nav-top__item js-mob-menu">
                <a class="nav-top__link animate-link --gray" href="#">FAQ</a>
              </li>
              <li class="nav-top__item js-mob-menu">
                <a class="nav-top__link animate-link --gray" href="#">Оптовикам</a>
              </li>
              <li class="nav-top__item js-mob-menu">
                <a class="nav-top__link animate-link --gray" href="#">Контакты</a>
              </li>
            </ul>

            <ul class="header-top__registr js-mob-menu-el">
              <li class="header-top__sign-in"><a class="animate-link --gray js-modal-show" data-popup="sign-in"
                  href="#">Вход</a></li>

              <li class="header-top__sign-up"><a class="animate-link --gray js-modal-show" data-popup="sign-up"
                  href="#">Регистрация</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="header__bottom header-bottom">
        <div class="container">
          <div class="header-bottom__wrap">

            <div class="header-bottom__column">
              <div class="header-bottom__logo logo-header"><a href="#"><img src="./img/logo.svg" alt=""></a></div>
              <div class="header-bottom__text">Универсальные многоцелевые
                подвесные системы и аксессуары
              </div>
            </div>

            <div class="header-bottom__column">
              <div class="header-bottom__row">
                <ul class="header-bottom__group js-mob-menu-el">
                  <li class="header-bottom__call"><a class="animate-link" href="tel:+74956496637">+7 (495) 649-66-37</a>
                  </li>
                  <li class="header-bottom__recall"><a class="animate-link --gray js-modal-show"
                      data-popup="popup-recall" href="#">Заказать звонок</a></li>
                </ul>

                <ul class="header-bottom__group js-mob-menu-el">
                  <li class="header-bottom__order"><a class="animate-link js-modal-show" data-popup="popup-order-req"
                      href="#">Заявка на расчёт</a></li>
                </ul>

                <ul class="header-bottom__group">
                  <li class="header-bottom__mail js-mob-menu-el"><a class="animate-link"
                      href="mailto:art@artiteq.ru">art@artiteq.ru</a></li>
                  <li class="header-bottom__write-mail">Написать на эл. почту</li>
                </ul>

                <ul class="header-bottom__group">
                  <li class="header-bottom__time">08:00 - 19:00</li>
                  <li class="header-bottom__weekday">Понедельник - Пятница</li>
                </ul>
              </div>

              <div class="header-bottom__row --search">
                <form action="#" class="header-bottom__search">
                  <input class="header-bottom__search-input" type="text" name="search" placeholder="Поиск товаров">
                  <button class="header-bottom__search-button" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.8244 6.68491C11.8244 9.20981 9.68873 11.3698 6.91222 11.3698C4.13571 11.3698 2 9.20981 2 6.68491C2 4.16002 4.13571 2 6.91222 2C9.68873 2 11.8244 4.16002 11.8244 6.68491ZM10.738 12.2534C9.64252 12.9588 8.32701 13.3698 6.91222 13.3698C3.09471 13.3698 0 10.3769 0 6.68491C0 2.99294 3.09471 0 6.91222 0C10.7297 0 13.8244 2.99294 13.8244 6.68491C13.8244 8.29819 13.2335 9.778 12.2496 10.9329L16.0008 14.5608L14.6104 15.9984L10.738 12.2534Z"
                        fill="#D1D1D1" />
                    </svg>
                  </button>
                  <div class="header-bottom__search-results">
                    <div class="header-bottom__search-results-wrap">
                      <a href="#" class="header-bottom__search-results-item">
                        <div class="header-bottom__search-results-name"><span>Настенная система</span> <span>«Рельс
                            Крик»</span></div>
                        <div class="header-bottom__search-results-price"><span>720</span> р.</div>
                      </a>

                      <a href="#" class="header-bottom__search-results-item">
                        <div class="header-bottom__search-results-name"><span>Настенная система</span> <span>«Рельс
                            Крик»</span></div>
                        <div class="header-bottom__search-results-price"><span>720</span> р.</div>
                      </a>

                      <a href="#" class="header-bottom__search-results-item">
                        <div class="header-bottom__search-results-name"><span>Настенная система</span> <span>«Рельс
                            Крик»</span></div>
                        <div class="header-bottom__search-results-price"><span>720</span> р.</div>
                      </a>
                    </div>
                    <a href="#" class="header-bottom__search-results-all">Показать все результаты</a>
                  </div>
                </form>
              </div>
            </div>

            <div class="header-bottom__column">

              <div class="fav">
                <a href="#" class="fav__item">
                  <div class="fav__icon">
                    <img src="./img/icon-fav.svg" alt="">
                    <div class="fav__value"><span>10</span></div>
                  </div>
                </a>
              </div>

              <div class="basket">
                <a href="#" class="basket__item">
                  <div class="basket__icon">
                    <img src="./img/icon-basket.svg" alt="">
                    <div class="basket__value"><span>5</span></div>
                  </div>
                  <div class="basket__group">
                    <div class="basket__name">Корзина </div>
                    <div class="basket__price">35 350 руб.</div>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="header__mob-menu mob-menu">
        <div id="dl-menu" class="dl-menuwrapper">

          <svg class="mob-menu__ham ham hamRotate ham8 js-ham dl-trigger" viewBox="0 0 100 100" height="50" width="50">
            <path class="line top"
              d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
            <path class="line middle" d="m 30,50 h 40" />
            <path class="line bottom"
              d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
          </svg>



          <ul class="dl-menu">

          </ul>
          <div class="mob-menu__logo"></div>
          <div class="mob-menu__basket-wrap">
          </div>
        </div>
      </div>

    </header>

    <!-- // HEADER -->